.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

body {
  margin: 0px;
}

.projBtn:hover {
  border: 1px solid white;
}

.contextMenu {
  width: 10vw;
  border: 1px solid white;
  border-radius: 2%;
  background-color: white;
  margin: 0;
  z-index: 100000;
  display: none;
}

.contextMenu button {
  border: none;
  background-color: transparent;
  color: #5d6266;
  cursor: pointer;
  width: 100%;
}

.contextMenu button:hover {
  background-color: #3F51B5;
  color: white;
}